:root {
    --color-one: white;
    --time-animation: 15s;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: linear-gradient(black, #130c35, #1a0429, #130c35, black);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars-content {
    width: 500px;
    height: 500px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.stars-content div {
    width: 100px;
    position: relative;
}


.star {
    width: 2px;
    height: 2px;
    position: absolute;
    background-color: var(--color-one);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 4px var(--color-one);
    opacity: 0;
}


.one .star,
.sixteen .star {
    animation: star-move-one var(--time-animation) linear infinite;
}

.two .star,
.fourteen .star {
    animation: star-move-two var(--time-animation) linear infinite;
}

.three .star,
.fifteen .star {
    animation: star-move-three var(--time-animation) linear infinite;
}

.four .star,
.thirteen .star {
    animation: star-move-four var(--time-animation) linear infinite;
}

.five .star {
    animation: star-move-five var(--time-animation) linear infinite;
}

.six .star {
    animation: star-move-six var(--time-animation) linear infinite;
}

.seven .star {
    animation: star-move-seven var(--time-animation) linear infinite;
}

.eight .star {
    animation: star-move-eight var(--time-animation) linear infinite;
}

.nine .star {
    animation: star-move-nine var(--time-animation) linear infinite;
}

.ten .star {
    animation: star-move-ten var(--time-animation) linear infinite;
}

.eleven .star {
    animation: star-move-eleven var(--time-animation) linear infinite;
}

.twelve .star {
    animation: star-move-twelve var(--time-animation) linear infinite;
}

.seventeen .star,
.twenty-one .star {
    animation: star-move-seventeen var(--time-animation) linear infinite;
}

.eighteen .star{
    animation: star-move-eighteen var(--time-animation) linear infinite;
}

.nineteen .star,
.twenty-three .star {
    animation: star-move-nineteen var(--time-animation) linear infinite;
}

.twenty .star{
    animation: star-move-twenty var(--time-animation) linear infinite;
}



@keyframes star-move-one {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(2000%, 50000%) rotateZ(20deg);
        width: 500px;
    }

    /* Para direita e para baixo  */
}

@keyframes star-move-two {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(-20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(2000%, -50000%) rotateZ(-20deg);
        width: 500px;
    }

    /* Para direita e para cima */
}

@keyframes star-move-three {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(-20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(-2000%, 50000%) rotateZ(-20deg);
        width: 500px;
    }

    /* Para esquerda e para baixo  */
}

@keyframes star-move-four {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(-2000%, -50000%) rotateZ(20deg);
        width: 500px;
    }

    /* Para esquerda e para cima  */
}

@keyframes star-move-five {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(-2000%, -25000%) rotateZ(20deg);
        width: 500px;
    }

    /* Para esquerda e SEMI-cima */
}

@keyframes star-move-six {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(-20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(-2000%, 25000%) rotateZ(-20deg);
        width: 500px;
    }

    /* Para esquerda e SEMI-baixo */
}

@keyframes star-move-seven {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(-20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(2000%, -25000%) rotateZ(-20deg);
        width: 500px;
    }

    /* Para direita e SEMI-cima */
}

@keyframes star-move-eight {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(2000%, 25000%) rotateZ(20deg);
        width: 500px;
    }

    /* Para direita e SEMI-baixo */
}

@keyframes star-move-nine {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(-1000%, -50000%) rotateZ(20deg);
        width: 500px;
    }

    /* Para cima e SEMI-esquerda*/
}

@keyframes star-move-ten {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(-20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(1000%, -50000%) rotateZ(-20deg);
        width: 500px;
    }

    /* Para cima e SEMI-direita*/
}

@keyframes star-move-eleven {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(-20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(-1000%, 50000%) rotateZ(-20deg);
        width: 500px;
    }

    /* Para baixo e SEMI-esquerda*/
}

@keyframes star-move-twelve {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(20deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(1000%, 50000%) rotateZ(20deg);
        width: 500px;
    }

    /* Para baixo e SEMI-direita*/
}

@keyframes star-move-seventeen {
    0% {
        opacity: 0;
        transform: translate(0%);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(-2000%);
        width: 500px;
    }

    /* Para esquerda*/
}

@keyframes star-move-eighteen {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(90deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(-70%,-50000%) rotateZ(90deg);
        width: 500px;
    }

    /* Para cima*/
}

@keyframes star-move-nineteen {
    0% {
        opacity: 0;
        transform: translate(0%);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(2000%);
        width: 500px;
    }

    /* Para direita*/
}

@keyframes star-move-twenty {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) rotateZ(90deg);
        width: 50px;
    }

    100% {
        opacity: 1;
        transform: translate(-70%,50000%) rotateZ(90deg);
        width: 500px;
    }

    /* Para baixo*/
}